CONSOLE_MCP_HOST=
CONSOLE_MCP_PORT=
CONSOLE_MCP_WORKSPACE_ROOT=
CONSOLE_MCP_CLOUDFLARED_BIN=
CONSOLE_MCP_MAX_FILE_BYTES=
CONSOLE_MCP_MAX_SEARCH_RESULTS=
CONSOLE_MCP_TRANSCRIPT_DIR=
CONSOLE_MCP_AUTH_MODE=
CONSOLE_MCP_BEARER_TOKEN=
CONSOLE_MCP_PUBLIC_ORIGIN=
CONSOLE_MCP_OAUTH_ISSUER=
CONSOLE_MCP_OAUTH_AUDIENCE=
CONSOLE_MCP_OAUTH_REQUIRED_SCOPE=
CONSOLE_MCP_OAUTH_JWKS_URI=
CONSOLE_MCP_TRACE=
CONSOLE_MCP_OAUTH_DEBUG=
